html{color:#000;background:#FFF;/* overflow: auto; */}
/* body{overflow: auto;} */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
body{font-family: "微软雅黑";}
a{text-decoration: none;color:#000;}
a:hover{opacity: 0.9;}

/* 简介 */
section{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}
section h1{
	width: 100%;
	height: 77px;
	border-bottom: 1px solid #ccc;
}
section>h1>p{
	width: 970px;
	height: 77px;
	font-size: 24px;
	color: #656565;
	margin: 0 auto;
	font-weight: bold;
	line-height: 77px;
}
@media (max-width:1000px){
section>h1>p{
    width: 80%;
}
}
.team{
height: 100%;
width: 980px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
}
section>.team>.team-member{
	width: 425px; 
	padding: 50px 20px 70px 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 60px;
}
section>.team>.team-member:nth-child(1){
	margin-right: 40px;
}
section>.team>.team-member p:nth-child(2){
	margin: 20px;
	font-size: 18px;
	font-weight: 500;
	color: #656565;
	line-height: 20px;
}
section>.team>.team-member p:nth-child(3){
	font-size: 28px;
	margin: 20px;
	margin-top: 0;
	font-weight: bold;
	color: #7b7b7b;
	line-height: 64px;
}
section>.team>.team-member p:nth-child(4){
	font-size: 13px;
	color: #7b7b7b;
	line-height: 21px;
}
@media (max-width:1000px){
.team{
		padding: 20px;
		width: 80%; 
	}
section>.team>.team-member{
	width: 100%; 
	margin-right: 0;
	padding: 50px 20px 70px 20px;
}
section>.team>.team-member:nth-child(1){
	margin-right: 0;
}
}
@media (max-width:1000px){
section>.team>.team-member>img{
	width: 50%;
}
}
@media (max-width:700px){
section>.team>.team-member p:nth-child(3){
	font-size: 20px;
}
}

/* 尾部 */
footer{
	width: 100%;
	margin: 100px auto;
	margin-bottom: 0;
}
.footer{
	background: #49494b;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 40px 40px 90px 40px;
}
.footer>.footer-heading {
	width: 333px;
	height: 100%;
}
@media (max-width: 500px){
.footer>.footer-heading>img{
	width: 50%;
	height: 40%;
}
}

.footer>.footer-heading strong{
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
/* .footer>.list-unstyled{
	width: 300px;
	height: 100px;
} */
.footer>.list-unstyled>li{
	font-size: 14px;
	color: #ccc;
}
.copyright{
	width: 100%;
	color: #fff;
	background: #323232;
	text-align: center;
	font-size: 12px;
	padding: 12px 0 12px 0;
} 